<h1>Home#sign_in</h1>
<p>Find me in app/views/home/sign_in.html.erb</p>

<%= link_to('ログインページ', new_user_session_path) %>
<%= link_to('ログアウトページ', destroy_user_session_path, method: :delete

現在のユーザ <%= current_user.email%>

